<h2 id="title">Welcome to Ember</h2>

CKEditor: <CKEditor />

<div class="tailwind p-12 flex flex-col">
  <div class="mb-5">
    <h3 class="font-semibold">Rework: Default</h3>
    <div class="flex spaced">
      <div class="w-1/2">
        <CKEditor @value={{default}} @onInput={{action (mut default)}} />
      </div>
      <div class="w-1/2">
        <div class="mb-3 ui-box ui-box-padded">
          <div class="content-scope">{{{default}}}</div>
        </div>
        <div class="revision-content-html">{{{default}}}</div>
      </div>
    </div>
  </div>
</div>
